@font-face {
  font-family: 'c-icon';
  src:  url('../fonts/c-icon.eot?65lg7x');
  src:  url('../fonts/c-icon.eot?65lg7x#iefix') format('embedded-opentype'),
  url('../fonts/c-icon.ttf?65lg7x') format('truetype'),
  url('../fonts/c-icon.woff?65lg7x') format('woff'),
  url('../fonts/c-icon.svg?65lg7x#c-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="c-icon-"], [class*=" c-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'c-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-search:before {
  content: "\e905";
}
.c-icon-activity:before {
  content: "\e900";
}
.c-icon-community:before {
  content: "\e901";
}
.c-icon-info:before {
  content: "\e902";
}
.c-icon-me:before {
  content: "\e903";
}
.c-icon-train:before {
  content: "\e904";
}
