.g-club-detail {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $color-shadow-nav;
  @include fs(14);
  &.slide-enter-active, &.slide-leave-active {
    transition: all .3s;
  }
  &.slide-enter, &.slide-leave-to {
    transform: translate3d(100%, 0, 0);
  }
  .g-swiper /deep/ .swiper-pagination-bullet-active {
    background: $color-theme;
  }
  .g-swiper /deep/ .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    line-height: 0;
    bottom: formatVal(20,rem);
  }
  header{
   position: relative;
    z-index: 100;
  }
  .brief{
    padding: formatVal(10,rem) formatVal(10,rem) formatVal(20,rem);
    margin-bottom: formatVal(20,rem);
    background-color: $whiteColor;
    .base{
      display: flex;
      .avatar{
        @include w(80);
        @include h(80);
        border-radius: 5px;
      }
      .desc{
        margin-left: formatVal(10,rem);
        .name{
          @include fs(14);
          color: $color-text-33;
        }
        .count{
          margin-top: formatVal(5,rem);
          @include fs(12);
          color: $color-gray-99;
        }
        .btn{
          margin-top: formatVal(15,rem);
          display: flex;
          justify-content: center;
          align-items: center;
          @include w(50);
          @include h(25);
          color: $color-theme;
          @include fs(12);
          border: 1px solid $color-theme;
          border-radius: 20px;
          &.joined{
            color: $whiteColor;
            background-color: $color-theme;
          }
          .icon{
            @include fs(18);
          }
        }
      }
    }
    .intro{
      margin-top: formatVal(10,rem);
      @include fs(12);
      color: $color-gray-99;
    }
  }
  .g-tag{
    position: relative;
    display: flex;
    z-index: 100;
    width: 100%;
    @include h(44);
    @include lh(41);
    background-color: $whiteColor;
    &.active{
      //position: fixed;
      //left: 0;
      //top: 0;
      //width: 100%;
      //z-index: 101;
    }
    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      border: 1px solid $color-gray-F0;
    }
    .tag-item{
      flex: 1;
      text-align: center;
      color: $color-text-66;
      border-bottom: 3px solid transparent;
      &.active{
        color: $color-theme;
        border-bottom-color: $color-theme;
      }
    }
  }
  .bg-layer{
    position: fixed;
    height: 100%;
    top: formatVal(244,rem);
    left: 0;
    right: 0;
    bottom: formatVal(50,rem);
    z-index: 9;
    background-color: $whiteColor;
  }
  .g-main{
    position: fixed;
    z-index: 99;
    top: formatVal(244,rem);
    left: 0;
    right: 0;
    bottom: 0;
    /deep/ .g-scroll-wrapper {
      overflow: visible;
    }
    .g-info-list{
      .info-type-item{
        .list{
          /deep/ .c-info-list-item{
            &+.c-info-list-item{
              border-top: formatVal(10,rem) solid $color-shadow-nav;
            }
          }
        }
        .no-result-wrapper{
          padding: formatVal(20,rem) 0;
        }
        .request-result{
          padding: formatVal(10,rem) 0;
          @include fs(12);
          color: $color-text-tip-b9a;
          text-align: center;
        }
      }
    }
  }
}
