.g-bottom-btn-full{
  position: fixed;
  z-index: 105;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  @include h(50);
  box-shadow: 0 -1px 3px $color-shadow-nav;
  text-align: center;
  .btn {
    width: 100%;
    height: 100%;
    @include lh(50);
    @include fs(18);
    color: $whiteColor;
    background-color: $color-theme;
    &.disable{
      background-color: $color-gray;
    }
  }
}
