.g-header-title {
  position: relative;
  height: auto;
  padding: 10px 10px 0;
  background-color: $color-theme;
  box-shadow: none;
  .back {
    position: absolute;
    color: #fff;
    @include fs(50);
    width: 30px;
    height: 30px;
  }
  .brand {
    text-align: center;
    margin: formatVal(100, rem) 0 formatVal(50, rem);
    .brand-logo {
      width: auto;
      height: auto;
      background: none;
      margin: 0 auto;
      color: #fff;
      @include fs(90);
    }
  }
  .tag {
    text-align: center;

    .item {
      position: relative;
      color: #fff;
      @include fs(28);
      @include lh(30);
      .icon {
        &.active:before {
          display: inline-block;
        }

        font-size: 1.8em;
        line-height: 0.4;
        &:before {
          display: none;
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

