.g-info-comment-item {
  position: fixed;
  z-index: 103;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-gray-F6;
  @include fs(14);
  &.slide-enter-active, &.slide-leave-active {
    transition: all .3s;
  }
  &.slide-enter, &.slide-leave-to {
    transform: translate3d(100%, 0, 0);
  }
  .g-main{
    position: fixed;
    z-index: 10;
    top: formatVal(40,rem);
    bottom: 0;
    left: 0;
    right: 0;
    .g-title{
      padding: formatVal(20,rem) formatVal(15,rem);
      .title{
        @include fs(24);
        color: $color-text-b3d;
      }
      .subtitle{
        margin-top: formatVal(15,rem);
        color: $color-gray-99;
      }
    }
    .g-article-cont{
      padding: formatVal(20,rem) formatVal(15,rem);
      background-color: $whiteColor;
      /deep/ *{
        max-width: 100% !important;
      }
    }
    .comment{
      padding: formatVal(14,rem);
      background-color: $whiteColor;
      margin-bottom: formatVal(20,rem);
      .title{
        display: flex;
        margin-bottom: formatVal(10,rem);
        .icon{
          @include fs(18);
          margin-right: formatVal(10,rem);
          color: #FF3B53;
        }
        span{
          color: $color-gray-99;
        }
      }
      .btn{
        margin-top: formatVal(20,rem);
        display: block;
        width: 100%;
        @include h(35);
        @include lh(35);
        color: $whiteColor;
        background-color: $color-theme;
        text-align: center;
      }
    }
    .reply{
      padding: 0 formatVal(14,rem);
      .request-result{
        padding: formatVal(10,rem) 0;
        @include fs(12);
        color: $color-text-tip-b9a;
        text-align: center;
      }
    }
  }
  .add-comment{
    position: absolute;
    z-index: 20;
    bottom: formatVal(40,rem);
    right: formatVal(15,rem);
    @include w(48);
    @include h(48);
    color: $whiteColor;
    text-align: center;
    background-color: $color-theme;
    border-radius: 50%;
    .icon{
      @include lh(48);
      @include fs(20);
    }
  }
}
