.g-community-comment-item {
  position: fixed;
  z-index: 103;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-gray-F6;
  @include fs(14);
  &.slide-enter-active, &.slide-leave-active {
    transition: all .3s;
  }
  &.slide-enter, &.slide-leave-to {
    transform: translate3d(100%, 0, 0);
  }
  .g-main{
    position: fixed;
    z-index: 10;
    top: formatVal(40,rem);
    bottom: 0;
    left: 0;
    right: 0;
  }
}
