.g-header-title-tab {
  position: relative;
  z-index: 10;
  @include h(40);
  @include lh(40);
  @include fs(16);
  color: $whiteColor;
  text-align: center;
  background-color: $color-theme;
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    span{
      padding: formatVal(4,rem) formatVal(15,rem) formatVal(6,rem);
      border-bottom: 1px solid transparent;
      line-height: 1;
      color: $color-transparency-white-6;
      &.active{
        color: $whiteColor;
        border-bottom: 1px solid $whiteColor;
      }
    }
  }
  .fa{
    position: absolute;
    z-index: 2;
    @include fs(26);
    @include lh(40);
    &.left{
      left: formatVal(15,rem);
    }
    &.right{
      right: formatVal(15,rem);
    }
  }
}
