.g-header-title-tab {
  position: relative;
  z-index: 10;
  @include h(40);
  @include lh(40);
  @include fs(16);
  color: $color-gray-717;
  text-align: center;
  background-color: $whiteColor;
  box-shadow: 0 2px 3px $color-transparency-black-1;
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    span{
      position: relative;
      padding: formatVal(4,rem) formatVal(15,rem) formatVal(6,rem);
      line-height: 1;
      color: $color-gray-717;
      &:after{
        content: '';
        position: absolute;
        left: 50%;
        width: 40%;
        bottom: 0;
        border-bottom: 2px solid transparent;
        transform: translate3d(-50%,0,0);
      }
      &.active{
        color: $color-text-2B3;
        &:after{
          border-bottom-color: $color-text-2B3;
        }
      }
    }
  }
  .fa{
    position: absolute;
    z-index: 2;
    @include fs(26);
    @include lh(40);
    &.left{
      left: formatVal(15,rem);
    }
    &.right{
      right: formatVal(15,rem);
    }
  }
}
