$color-red: #FF5F7A;
$color-green: #7ED321;
.g-train {
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  top: formatVal(40,rem);
  bottom: formatVal(50,rem);
  background-color: $color-background-gray;
  .g-swiper /deep/ .swiper-pagination-bullet-active {
    background: $color-theme;
  }
  .g-swiper /deep/ .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    line-height: 0;
    bottom: formatVal(20,rem);
  }
  .chunk{
    &+.chunk{
      margin-top: formatVal(10,rem);
    }
  }
  .g-header{

  }
  .g-banner{
    .g-swiper{
      a{
        display: block;
        font-size: 0;
      }
      img{
        display: block;
        width: 100%;
        height: formatVal(124,rem);
      }
    }
  }
  .g-tagList{
    padding: formatVal(18,rem) formatVal(14,rem);
    background-color: $whiteColor;
    .list{
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      .item{
        flex: 0 0 25%;
        text-align: center;
        margin: formatVal(8,rem) 0;
        a{
          display: block;
        }
        .icon{
          font-size: 0;
          margin-bottom: formatVal(6,rem);
          img{
            @include w(35);
            @include h(35);
            border-radius: 50%;
          }
        }
        .name{
          color: $color-text-b45;
          @include fs(12);
        }
      }
    }
  }
  .g-recommend{
    padding: formatVal(24,rem) formatVal(12,rem) 0;
    background-color: $whiteColor;
    .titlebox{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: formatVal(20,rem);
      &.red{
        .icon{
          span{
            background-color: $color-red;
          }
        }
      }
      &.green{
        .icon{
          span{
            background-color: $color-green;
          }
        }
      }
      .icon{
        display: flex;
        span{
          display: inline-block;
          &+span{
            margin-left: formatVal(3,rem);
          }
          &.big{
            @include w(7);
            @include h(7);
          }
          &.small{
            @include w(3);
            @include h(3);
          }
        }
      }
      .title{
        @include fs(20);
        font-weight: bold;
        color: $color-text-2B3;
      }
      .more{
        display: flex;
        align-items: center;
        @include fs(12);
        color: $color-text-tip-ac;
        .icon{
          margin-left: formatVal(5,rem);
          color: $color-theme;
        }
      }
    }
    &.teachers{
      padding-bottom: formatVal(24,rem);
      background-color: $whiteColor;
      .list{
        .swiper-item{
          padding: formatVal(3,rem);
        }
        .item{
          padding: formatVal(10,rem) formatVal(15,rem);
          text-align: center;
          border: 1px solid $color-background-gray;
          background-color: $whiteColor;
          border-radius: 5px;
          @include fs(12);
          .avatar{
            font-size: 0;
            img {
              @include w(50);
              @include h(50);
              border-radius: 50%;
            }
          }
          .name{
            margin: formatVal(8,rem) 0 formatVal(5,rem);
            color: $color-text-b45;
          }
          .pos{
            @extend %ellipsis;
            color: $tipColor;
          }
        }
      }
    }
    &.course{
      .list /deep/ {
        .c-course-list-item{
          padding: formatVal(12,rem) 0;
          &+.c-course-list-item{
            border-top: 1px solid $color-border-split-D8D;
          }
          &:first-child{
            padding-top: 0;
          }
        }
      }
      .request-result{
        padding: formatVal(10,rem) 0;
        @include fs(12);
        color: $color-gray-B6B;
        text-align: center;
      }
    }
    &.like{
      @extend .course;
      .refresh{
        @include fs(14);
        padding: formatVal(12,rem) 0;
        .icon{
          margin-right: formatVal(10,rem);
        }
        .icon,span{
          vertical-align: middle;
        }
      }
    }
  }
}
