$color-red: #FF5F7A;
$color-green: #7ED321;
.g-feedback {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include fs(14);
  color: $color-text-b45;
  background-color: $color-border-split;
  &.slide-enter-active, &.slide-leave-active {
    transition: all .3s;
  }
  &.slide-enter, &.slide-leave-to {
    transform: translate3d(100%, 0, 0);
  }
  .g-swiper /deep/ .swiper-pagination-bullet-active {
    background: $color-theme;
  }
  .g-header{

  }
  .g-main{
    position: fixed;
    z-index: 11;
    top: formatVal(40,rem);
    bottom: 0;
    left: 0;
    right: 0;
  }
  .feedback-cont{
    padding: formatVal(10,rem);
    width: 100%;
    @include h(200);
    border: none;
    background-color: $whiteColor;
    resize: none;
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
  }

}
