.g-tab {
  display: flex;
  padding-top: formatVal(6,rem);
  height: formatVal(50,rem);
  @include fs(10);
  box-shadow: 0 -2px 5px $color-shadow-nav;
  background-color: $whiteColor;
  .tab-item{
    flex: 1;
    text-align: center;
    color: $color-text-b3d;
    .tab-link,.icon{
      display: block;
    }
    .icon{
      @include fs(20);
      padding-bottom: formatVal(5,rem);
    }
    .tab-link{

    }
    &.active {
      color: $color-theme;
    }
  }


}
