.g-tab {
  display: flex;
  padding-top: formatVal(6,rem);
  height: formatVal(49,rem);
  @include fs(10);
  box-shadow: 0 -1px 3px $color-transparency-black-2;
  background-color: $whiteColor;
  .tab-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-gray-99;
    .tab-link,.icon{
      display: block;
    }
    .icon{
      @include fs(20);
      margin-bottom: formatVal(2,rem);
    }
    .tab-link{

    }
    &.active {
      color: $color-theme;
    }
  }


}
