.g-header-title {
  position: relative;
  z-index: 10;
  @include h(40);
  @include lh(40);
  font-size: 0;
  color: $color-text-2B3;
  text-align: center;
  background-color: $whiteColor;
  border-bottom: 1px solid $color-border-split-D8D;
  .icon,.title{
    @extend %lineElem_middle;
  }
  .title{
    max-width: 70%;
    margin-left: formatVal(5,rem);
    @include fs(18);
    @extend %ellipsis;
  }
  .fa{
    position: absolute;
    z-index: 2;
    @include fs(26);
    @include lh(39);
    &.left{
      left: formatVal(15,rem);
    }
    &.right{
      right: formatVal(15,rem);
    }
  }
  .icon{
    @include w(20);
    @include h(20);
    border-radius: 50%;
  }
  .operate{
    @extend .fa;
    @include fs(16);
  }
}
