<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue2-node</title>
    <style>
      #app{
        width: 100px;
        white-space: nowrap;
      }
    </style>
  </head>
  <body>

    <div id="app">
      <div>
        <span>啊实打实大师的啊实打实大师阿萨德啊实打实大斯达舒大啊飒飒的</span>
        <span>大声地卡死了的卡死了的卡死了的卡死了老大啊省大师级的哈斯尽快的哈金卡省得还安居客的</span>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
