.g-course-pay {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color-gray;
  background: $color-shadow-nav;
  &.slide-enter-active, &.slide-leave-active {
    transition: all .3s;
  }

  &.slide-enter, &.slide-leave-to {
    transform: translate3d(100%, 0, 0);
  }
  .chunk{
    background-color: $whiteColor;
    margin-bottom: formatVal(20,rem);
    &>.title{
      @include fs(14);
      @include h(44);
      @include lh(44);
      padding: 0 formatVal(14,rem);
      border-bottom: 1px solid $color-border-nav;
    }
  }

  .info-wrapper{

  }
  .pay-wrapper{
    .c-form-group{
      .input-item {
        .label {
          .title-wrapper {
            display: flex;
            flex: 1;
            .icon {
              @include fs(32);
              flex: 0 0 formatVal(32, rem);

              &.c-icon-wepay {
                color: $color-webchat;
              }
              &.c-icon-alipay {
                color: $color-alipay;
              }
            }
            .desc {
              display: flex;
              flex: 1;
              flex-direction: column;
              justify-content: space-between;
              margin-left: formatVal(14, rem);
              .name {
                @include fs(15);
                color: $color-text-b45;
              }
              .tip-info {
                @include fs(12);
                color: $color-gray-99;
              }
            }
          }
          .btn {
            @include fs(24);
            @include lh(24);
            flex: 0 0 formatVal(24, rem);
            margin-right: formatVal(14,rem);
            .active{
              color: $color-theme;
            }
          }
        }
      }
    }

  }
  .c-form{
    .c-form-group{
      .input-item {
        position: relative;
        padding-left: formatVal(14, rem);
        & + .input-item {
          &:after{
            content: '';
            position: absolute;
            left: formatVal(14,rem);
            right: 0;
            top: 0;
            height: 0;
            border-top: 1px solid $color-border-nav;
          }

        }
        .float-input {
          position: absolute;
          opacity: 0;
        }
        .label {
          display: flex;
          align-items: center;
          padding: formatVal(14, rem) 0;
          .title-wrapper {
            display: flex;
            flex: 1;
          }
          .btn {
            @include fs(24);
            @include lh(24);
            flex: 0 0 formatVal(24, rem);
            margin-right: formatVal(14,rem);
            .active{
              color: $color-theme;
            }
          }
          .c-media{
            align-items: center;
            .avatar{
              @include w(16);
              @include h(16);
              @include lh(0);
              flex: 0 0 formatVal(16,rem);
              margin-right: formatVal(10,rem);
              .icon{
                @include fs(16);
                &.active{
                  color: $color-theme;
                }
              }
            }
            .desc{
              line-height: 1;
              @include fs(14);
            }
          }
        }

      }
    }
    .c-msg {
      @include fs(12);
      padding: formatVal(10, rem);
    }
  }

}

