.g-course-chapters {
  position: fixed;
  z-index: 4;
  top: formatVal(289, rem);
  bottom: formatVal(50, rem);
  left: 0;
  right: 0;
  color: $color-text-b45;
  &.joined {
    bottom: 0;
  }
  .g-scroll-continer {
  }
  .g-package {
    border-bottom: formatVal(10, rem) solid $color-background-gray;
    border-top: formatVal(10, rem) solid $color-background-gray;
    line-height: 0;
    .form-body {
      line-height: 1em;
      @extend %ellipsis;
    }
    .form-right {
      .icon {
        @include fs(20);
      }
    }
  }
  .chapters {
    .chapter-item {
      &.active {
        .course-list {
          display: block;
        }
        & > .title {
          .collapsible:before {
            content: "\f107";
          }
        }
      }
      & > .title {
        position: relative;
        padding: 0 formatVal(15, rem);
        @include h(40);
        @include lh(40);
        @include fs(16);
        color: $color-text-2B3;
        .collapsible {
          position: absolute;
          right: formatVal(15, rem);
          top: formatVal(12, rem);
          &:before {
            content: "\f106";
          }
        }
      }
      .course-list {
        display: none;
        .course-item {
          padding: formatVal(15,rem) 0;
          &.current{
            background-color: $color-background-theme;
          }
          a {
            display: block;
            padding: 0 formatVal(15, rem);
            //@include h(35);
            @include lh(35);
            @include fs(14);
            color: $color-gray-717;
            >p{
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              em {
                @include lh(20);
                &.cont{
                  flex: 1;
                }
                &.try{
                  @include fs(10);
                  color: $color-theme;
                }
              }
              i {
                @include lh(20);
                text-indent: .5em;
                &.type{
                  margin-right: formatVal(15,rem);
                }
              }
              &.readed{
                color: $color-theme;
              }
            }
            .detail {
              padding: formatVal(15,rem) formatVal(10,rem) 0;
              display: flex;
              @include lh(20);
              .icon {
                text-indent: 1em;
                margin-right: formatVal(10,rem);
                //line-height: 1.3;
              }
              .info {
                @include fs(12);
              }
            }
          }
        }
      }
    }
  }
}

