.g-train-detail {
  position: fixed;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $whiteColor;
  &.slide-enter-active, &.slide-leave-active {
    transition: all .3s;
  }
  &.slide-enter, &.slide-leave-to {
    transform: translate3d(100%, 0, 0);
  }
  & /deep/ .g-mask{
    bottom: auto;
    height: formatVal(289,rem);
  }
  .g-video{
    position: relative;
    z-index: 5;
    width: 100%;
    @include h(205);
    text-align: center;
    background-color: #000;
    overflow: hidden;
    .video-wrapper{
      position: relative;
      height: 100%;
      width: 100%;
      .video-mask{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-background-d;
        .fa{
          @include fs(60);
          @include lh(205);
          color: $color-text;
        }
      }
      video{
        background-color: #000;
        height: 100%;
        width: auto;
      }
    }

    img{
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .g-main{

  }
  .g-join {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    @include h(50);
    @include fs(16);
    box-shadow: 0 -1px 3px $color-shadow-nav;
    text-align: center;
    .price, .btn {
      @include lh(50);
      height: 100%;
    }
    .price {
      flex: 1;
      color: $color-theme;
      background-color: $whiteColor;
    }
    .btn {
      width: 35%;
      color: $whiteColor;
      background-color: $color-theme;
    }
  }
}

