.g-login {
  .form {
    .form-main {
      .input-item {
        .main {

          .icon {
            width: auto;
            margin-right: formatVal(10, rem);
            @include fs(20);
            color: $color-text-wcc;
          }

        }
      }
    }
  }

}
