.no-result{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: $color-transparency-white-9;
  .no-result-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  display: flex;
  text-align: center;
  .no-result-icon{
    @include w(86);
    @include h(90);
    margin: 0 auto;
    @include bg-image('no-result');
    background-size: formatVal(86,rem) formatVal(90,rem);
  }
  .no-result-text{
    margin-top: formatVal(30,rem);
    font-size: $font-size-medium;
    color: $color-text-tip-b9a;
  }
}
