<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/ico" />
    <link rel="Bookmark" href="/static/img/favicon.ico" type="image/ico" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/ico" />
    <title>硬见</title>
    <script src="/m-web/static/js/init.js"></script>
    <!--<script src="/static/js/init.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/m-web/static/css/reset.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>-->
  </head>
  <body>
    <div id="app">
        <!--<v-b></v-b>-->
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>



