.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  &.local {
    position: absolute;
    .bg {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  &.loading-fade-enter-active {
    animation: loading-fadein 0.3s;
    .cont {
      animation: loading-zoom 0.3s;
    }
  }
  .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .cont-wrapper {
    position: relative;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    .cont {
      width: 50%;
      margin: 0 auto;
      padding: formatVal(20, rem);
      border-radius: 5px;
      background: $color-border-split;
      &.simple {
        background-color: transparent;
        color: $color-border-split;
        .desc {
          display: none;
        }
      }
      .loadingIcon {
        @include w(24);
        @include h(24);
      }
      .desc {
        @include lh(20);
        font-size: $font-size-small;
        color: $color-text-b45;
      }
    }

  }

}

@keyframes loading-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

