.g-register {
  @include pall1(15, 15, 0, 15);
  display: block;
  .protocol {
    color: $color-text-link;
  }
  .form {
    .verify, .tipinfo {
      display: none;
    }
    .step-item {
      display: none;
      &.active {
        display: block;
      }
    }
    .form-main {
      padding: 0 10px;
      margin-bottom: formatVal(35, rem);
      .input-item {
        &.verify-code {
          .tipinfo {
            display: block;
            @include fs(12);
          }
        }
        &.has-error {
          .main {
            border-bottom-color: $color-text-error;
            .icon {
              color: $color-text-error;
            }
          }
        }
        .main {
          position: relative;
          display: flex;
          align-items: center;
          border-bottom: 1px solid $color-border-input;
          @include pall2(10, 0);
          @include fs(16);
          .icon {
            width: 5em;
            margin-right: 0;
            @include fs(14);
          }
          .tipinfo {
            position: absolute;
            right: 0;
            bottom: formatVal(15, rem);
            color: $color-text-wcc;
            &.error {
              color: $color-text-error;
            }
            &.correct {
              color: $correctColor;
            }
          }
          .input {
            flex: 1;
            &, &:focus {
              border: 0;
              outline: none;
            }
            &::-webkit-input-placeholder {
              color: $color-text-wcc;
            }
            &:-moz-placeholder {
              color: $color-text-wcc;
            }
            &::-moz-placeholder {
              color: $color-text-wcc;
            }
            &:-ms-input-placeholder {
              color: $color-text-wcc;
            }
            max-width: formatVal(215, rem);
            color: $color-text-b3d;
          }
        }
        .error {
          margin-bottom: 0;
          padding-bottom: 0;
          .icon {
            margin-right: formatVal(10, rem);
          }
        }
      }
    }
    .btnbox {
      button {
        width: 100%;
        @include h(45);
        color: #fff;
        @include fs(15);
        background-color: $color-theme;
        &.disable {
          background-color: $color-background-btn-disabled;
        }
      }
    }
  }
  .forget-pw {
    margin: formatVal(13, rem) 0 formatVal(75, rem);
    @include fs(14);
    text-align: right;
    a {
      color: $color-text-tip-ac;
    }
  }
  .vendor {
    text-align: center;
    .titlebox {
      margin-bottom: formatVal(20, rem);
      span {
        @extend %lineElem_middle;
      }
      .name {
        margin: 0 10px;
        color: $color-text-tip-b9a;
        @include fs(12);
      }
      .line {
        @include w(90);
        height: 1px;
        background-color: $color-text-tip-b9a;
      }
    }
    .btnbox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $color-text-tip-645;
      margin: 0;
      p {
        flex: 1;
      }
      .fa {
        padding: 10px;
        @include fs(25);
        border: 1px solid $color-text-tip-b9a;
        border-radius: 50%;
      }
    }
  }
}
